@use 'variables';
@use 'mixin';

body {
  background: $background-color;
  color: $text-color;
  font-family: $font-family;
  line-height: 1.5;
  font-size: $base-font-size; /* Base para móviles */
}

h1,
h2 {
  color: $heading-color; /* Contraste para fondos oscuros */
  text-shadow: 1px 1px 3px #333;
  padding: 10px;
  margin: 5px;

  @include text-center; // Uso del mixin para centrar texto
}